<div class="container">

    <div>
        <br>
        <h4><a href="#">Tópico1</a></h4>
        <p>Este é um exemplo dos diversos tópicos que vão ser
            acrescentados aqui. Nesta parte serão colocados os
            resumos dos sermões.
        </p>
        <br>
        <hr>
    </div>
    <div>
        <br>
        <h4>Tópico1</h4>
        <p>Este é um exemplo dos diversos tópicos que vão ser
            acrescentados aqui. Nesta parte serão colocados os
            resumos dos sermões.
        </p>
        <br>
        <hr>
    </div>
    <div>
        <br>
        <h4>Tópico1</h4>
        <p>Este é um exemplo dos diversos tópicos que vão ser
            acrescentados aqui. Nesta parte serão colocados os
            resumos dos sermões.
        </p>
        <br>
        <hr>
    </div>

</div>