

<div class="container-fluid">

    <div class="container">
        <div class="jumbotron text-align-center">
            <div class="page-header">
                <h1 class="">Precisa de um sermão?</h1>
            </div>
            <br>

            <p>Um irmão desmarcou em cima da hora e você precisa levar a
                mensagem, mas não vem uma a cabeça? está no lugar certo!
            </p>
            <p>
                Está buscando inspiração pra entender melhor a mensagem
                que tu tem que levar? Está no lugar certo!
            </p>
            <p>
                Primeira vez que vai pregar e está buscando um sermão??
                Está no lugar certo!!
            </p>
            <p>
                Enfim se mensagem é o que precisa, aqui você encontra a
                solução!
            </p><br>
            <div class="d-flex justify-content-end">
                <a class="btn btn-success">Clique aqui!!</a>
            </div>

        </div>

        <hr>

        <div class="jumbotron text-align-right">
            <div class="page-header">
                <h1 class="">Contribua com o teu sermão!</h1>
            </div>
            <br>

            <p>Ajude outras pessoas a encontrarem um sermão postando 
                teu próprio sermão... Uma vez ou vir sobre um estudo sobre
                um tema que é chamado de  inteligência col
            </p>
            <p>
                O estudo relatava sobre um cientista que pegou um pote e
                encheu de bola de gudes e foi amostrando a pessoas aleatórias
                para elas ‘chutarem’ a quantidade de bolas de gude no pote. 
                Depois de algum tempo perguntado ele pegou o valor de todos
                os chutes e retirou a média desses valores e descobriu algo
                interessante. A média de todos so ‘chutes’ se aproximava do 
                valor real. Então ésse é o motivo de eu ter decidido criar essa 
                rede social. Permitir que pregadores compartilhem suas
                mensagens .
            </p><br>
            <div class="d-flex">
                <a class="btn btn-success">Cadastre-se!</a>
            </div>

        </div>
    </div>



</div>